.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.form-check-label {
  text-transform: capitalize;
}
div.filters {
  padding: 10px;
}

td.social_media a {
  margin: 0 3px;
}
